@import "../globals";

.catalog-item-header {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 !important;
  @include respond-to(tablet-portrait-up) {
    font-size: 2rem;
  }
}

.catalog-item-desc {
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  margin: .2rem 0;
  text-transform: capitalize;
  @include respond-to(tablet-portrait-up) {
    font-size: 1.3rem;
  }
}

.catalog-filter-container {
  color: white;
  width: 100%;
  background-color: white;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.catalog-item {
  & p {
    transition: color 0.3s ease-in-out;
  }

  max-width: 300px;

  &:hover {
    & p {
      color: $kenny-red !important;
    }
  }
}

.catalog-filter-item {
  @include respond-to(desktop-up) {
    &:hover {
      & .catalog-filter-menu {
        max-height: 400px;
        height: auto;
        opacity: 1;
      }
    }
  }
}

.filter-container-shown {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 1;
}

.catalog-filter-menu-container {
  position: absolute;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  display: table;
  background-color: black;
  flex-direction: column;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, height 0.3s ease-in-out;
  @include respond-to(desktop-up) {
    position: relative;
    display: flex;
    top: 0;
    visibility: visible;
    opacity: 1;
    flex-direction: row;
  }
}

.catalog-filter-header {
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding: 30px;

  &:after {
    @include respond-to(desktop-up) {
      content: "\2038";
      font-family: inherit;
      font-size: 2.5rem;
    }
    content: '\f053';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: $kenny-red;
    font-size: 1rem;
    position: absolute;
    display: inline-block;
    transition: transform 0.3s linear;
    transform: translate3d(90%, 12%, 0) rotate3d(0, 0, 1, 180deg);
  }

  @include respond-to(desktop-up) {
    &:hover {
      &:after {
        transform: translate3d(90%, -55%, 0) rotate3d(0, -1, 0, 180deg);
      }
    }
  }
}

.catalog-filter-menu {
  display: flex;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0;
  transition: max-height 0.3s linear, opacity 0.3s linear;
  overflow: hidden;
  padding: 15px 0;
  z-index: 2;
  //width: 100%;
  height: 100%;

  @include respond-to(desktop-up) {
    top: 100%;
    width: 250px;
    height: auto;
    max-height: 0;
    &:hover {
      & + .catalog-filter-header {
        &:after {
          transform: translate3d(90%, -55%, 0) rotate3d(0, -1, 0, 180deg);
        }
      }
    }
  }
}

.filter-item-label {
  text-transform: uppercase;
  width: 175px;
  margin: 5px 10px;
  font-size: 1.2rem;
}

.filter-item-box {
  border-radius: 3px;
}

.filter-item-radio {
  border-radius: 50%;
}

.filter-item-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: black;
  border: thin solid $kenny-red;
  height: 20px;
  width: 20px;
  transition: background-color 0.3s ease;

  &:checked {
    background-color: $kenny-red;
  }

  &:focus {
    outline: none;
  }
}

.menu-shown {
  opacity: 1 !important;
}