@import "../globals";

.navigation-landed {
  position: absolute !important;
  background-color: transparent !important;
  top: 0;
  width: 100%;
  transition: background-color 0.4s ease-in-out;
  &:hover {
    background-color: black !important;
  }
}

.navigation {
  & .navigation-mega-item {
    &:hover {
      & ~ .mega-menu-underlay {
        visibility: visible;
        opacity: 1;
      }

      & .navigation-mega-container {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  & .navigation-mega-container {
    height: 250px;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate3d(50%, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
    z-index: 4;
    padding-top: 30px;

    &:hover {
      visibility: visible;
      opacity: 1;

      & + .navigation-primary-link {
        animation: active 0.4s linear infinite alternate;

        &:after {
          transform: translate3d(90%, -50%, 0) rotate3d(0, -1, 0, 180deg);
        }
      }
    }
  }

  & .navigation-mega-menu {
    margin: 0 40px;

    & > ul > li {
      padding: 10px 0;
      font-size: 14px;

      & > a {
        color: $color-second-level-link;
      }
    }

    & .navigation-mega-menu-header {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 15px;
    }
  }
}

.navigation-dark {
  background-color: black;

  * {
    color: white;
  }
}

.navigation-primary-link {
  padding: 15px;
  position: relative;
  text-transform: uppercase;

  &:after {
    content: "\2038";
    font-size: 2rem;
    position: absolute;
    display: inline-block;
    transition: transform 0.3s linear;
    transform: translate3d(90%, 0, 0) rotate3d(1, 0, 0, 180deg);
  }

  &:hover {
    &:after {
      transform: translate3d(90%, -50%, 0) rotate3d(0, -1, 0, 180deg);
    }

    animation: active 0.4s linear infinite alternate;
  }
}

.mega-menu-underlay {
  position: absolute;
  width: 100%;
  height: 275px;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-in-out,
  opacity 0.4s ease-in-out;
  z-index: 3;
}

#sign-in {
  &:hover {
    & > .user-info-input {
      opacity: 1;
      visibility: visible;
    }

    & > a {
      animation: active 0.4s linear infinite alternate;

      &:after {
        transform: translate3d(90%, -50%, 0) rotate3d(0, -1, 0, 180deg);
      }
    }
  }
}

.user-info-input {
  position: absolute;
  background-color: white;
  top: 100%;
  right: 33%;
  min-width: 300px;
  padding: 10px 20px;
  border: 1.5px solid #d1d4d6;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease-in-out,
  opacity 0.4s ease-in-out;
  z-index: 3;

  & .btn-input-lg {
    text-transform: uppercase;
    width: 100%;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    transition: background-color 0.4s linear;

    &:hover {
      background-color: #0d47a1;
      color: white;
    }
  }

  &:hover {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes active {
  0% {
    color: #0288D1;
  }
  50% {
    color: #0277BD;
  }
  100% {
    color: #01579B;
  }
}
