<div class="d-flex justify-content-center align-items-center flex-column position-relative link-plain">
    <div class="banner-image clothing-banner-image"></div>
    <div class="kenny-container pos-abs-center-desk">
        <div class="d-flex banner-content flex-column flex-mobile-center">
            <h2 class="section-header text-emphasize-alt text-uppercase text-invert-mobile my-lg-4">
                Right & Bright
            </h2>
            <p class="section-desc w-40-70-100 transform-none line-height-18-26 text-invert-mobile">
                Morbi non est semper, auctor massa ac, scelerisque elit. Aliquam faucibus, enim sed lobortis mattis,
                mi sapien vehicula mauris, sed aliquam tortor odio in elit. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos. Nulla efficitur blandit turpis eu molestie.
                Integer eu fringilla velit, ac facilisis nibh.
            </p>
            <a href="#" class="btn-input-lg text-white btn-outline-dark-mobile
                           w-25-70-100 font-weight-bold text-uppercase">Shop Backpacks</a>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center py-5 link-plain kenny-container-80
    flex-column overflow-hidden">
    <div class="d-flex justify-content-center align-items-center flex-mobile-column-alt bg-white mb-5">
        <div class="d-flex justify-content-center align-items-center flex-grow-desk">
            <img src="https://images.unsplash.com/photo-1485809052957-5113b0ff51af?ixlib=
                rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1233&q=80"
                 alt="img"
                 class="image-900-fill"/>
        </div>
        <div class="d-flex justify-content-center align-items-center p-5 flex-grow-desk">
            <div class="d-flex flex-column w-75-100 flex-mobile-center text-align-center-mobile">
                <h2 class="section-header text-uppercase">Mono Bright</h2>
                <p class="section-desc transform-none font-weight-bold text-muted">
                    ulla ac turpis ullamcorper, mattis lacus quis, blandit augue. In pharetra tristique faucibus.
                    Suspendisse cursus id mauris nec sollicitudin. Sed laoreet congue molestie. Vivamus non sapien
                    rutrum, molestie lectus tempor, vestibulum dui.
                </p>
                <a href="#" class="btn-input-lg btn-black
                           w-40-70-100 font-weight-bold text-uppercase">View The Collection</a>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center bg-white py-4">
    <div class="d-flex justify-content-center align-items-center mt-4 kenny-container px-0"
         id="hats-accessories-banner"></div>
</div>
<div class="d-flex justify-content-center align-items-center bg-white py-4">
    <div class="d-flex justify-content-center align-items-center mt-4 kenny-container px-0"
         id="shirts-tees-banner"></div>
</div>

<div class="d-flex justify-content-center align-items-center my-4 flex-column">
    <p class="text-center section-desc transform-none m-0 p-5 w-75-100">
        Function and form are given equal credence here at Kennedy. Whether it’s t-shirts, hoodies, sweaters or jackets,
        you’ll find our signature aesthetic paired seamlessly with incredible attention to detail. The result? Timeless
        pieces that complement any wardrobe and stand up to whatever you put them through.  
    </p>
    <div class="d-flex justify-content-center align-items-center border-top w-100 pt-4 flex-mobile-column-alt sign-up-container">
        <h4 class="font-weight-bold text-muted">Get The Latest From Kennedy</h4>
        <input type="text" class="form-control sign-up-field" placeholder="e-mail address">
        <input type="button" class="btn-input-lg btn-black
                           btn-sign-up-field font-weight-bold text-uppercase" value="join"/>
    </div>
</div>

<script src="/apparel.js" type="text/javascript"></script>
<script src="/categoryIndex.js" type="text/javascript"></script>