<footer class="footer d-flex justify-content-center align-items-center flex-column bg-black link-plain wrap-20">
    <div class="d-flex align-self container flex-column">
        <div class="footer-icons flex-mobile-column-alt">
            <div class="d-flex justify-content-center align-items-center text-white font-righteous">
                <h1 class="mr-3"><a href="#" class="text-white">KENNEDY</a></h1>
                <h2 class="color-logo">
                    <i class="far fa-gem"></i>
                </h2>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <a href="#" class="hover-scale mx-4"><h1><i class="fab fa-instagram"></i></h1></a>
                <a href="#" class="hover-scale mx-4"><h1><i class="fab fa-pinterest"></i></h1></a>
                <a href="#" class="hover-scale mx-4"><h1><i class="fab fa-facebook-f"></i></h1></a>
                <a href="#" class="hover-scale mx-4"><h1><i class="fab fa-vimeo-v"></i></h1></a>
                <a href="#" class="hover-scale mx-4"><h1><i class="fab fa-twitter"></i></h1></a>
            </div>
        </div>
        <div class="footer-nav p-0 flex-mobile-column">
            <div class="d-flex footer-nav-item flex-column" id="nav-company">
                <h3 class="footer-nav-header text-white footer-toggle" data-nav="nav-company">Company</h3>
                <div class="d-flex justify-content-center flex-column footer-nav-links">
                    <hr class="footer-pipe"/>
                    <ul class="bullet-less">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Work Here</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Stories</a></li>
                        <li><a href="#">Store/Dealer Locator</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex footer-nav-item flex-column" id="nav-service">
                <h3 class="footer-nav-header text-white footer-toggle" data-nav="nav-service">Service</h3>
                <div class="d-flex justify-content-center flex-column footer-nav-links">
                    <hr class="footer-pipe"/>
                    <ul class="bullet-less">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Warranties</a></li>
                        <li><a href="#">Repair Center</a></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex footer-nav-item flex-column" id="nav-order">
                <h3 class="footer-nav-header text-white footer-toggle" data-nav="nav-order">Orders and Returns</h3>
                <div class="d-flex justify-content-center flex-column footer-nav-links">
                    <hr class="footer-pipe"/>
                    <ul class="bullet-less">
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Shipping Policy</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Promotions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>