<!--https://unsplash.com/photos/mId2gG0a9GU-->
<!--https://unsplash.com/photos/nXruwpNrOzQ-->
<div class="w-100 h-100 bg-black d-flex justify-content-center align-items-center">
    <div id="slide-show-container"></div>
    <div class="landing-text link-plain wrap-20-mobile">
        <h1 class="text-emphasize font-pacifico my-4">Redefine Sophisticated</h1>
        <h4 class="w-40-70-100 line-height-2 text-align-center-lg">
            Proin ex turpis, ornare vitae lorem ut, mattis tempus augue. Nam non placerat eros, ut finibus dolor.
            Nulla ornare, mi id efficitur blandit, dui metus porta velit, a fermentum libero arcu eu lectus.
        </h4>
        <a href="#" class="btn-input-lg text-white btn-outline-white
                           w-25-70-100 my-4 font-weight-bold">See our collections</a>
    </div>
</div>
<div class="d-flex justify-content-center align-self-center py-5 h-auto flex-column bg-dirty-white">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="section-header text-uppercase">Witness Extravagance</h2>
        <p class="section-desc transform-none text-muted">With the standouts from 2018 </p>
        <div class="d-flex justify-content-center align-items-center w-75-100 mb-5 link-plain">
            <a href="#" class="btn-input-lg text-white bg-black btn-outline-dark
                           w-25-70-100 font-weight-bold mx-2 text-uppercase">shop men's</a>
            <a href="#" class="btn-input-lg text-white bg-black btn-outline-dark
                           w-25-70-100 font-weight-bold mx-2 text-uppercase">shop women's</a>
        </div>
    </div>
    <div class="mt-4 card-container" id="featured-collections">
    </div>
</div>
<div class="d-flex justify-content-center align-self-center py-5 h-auto flex-column bg-white">
    <div class="d-flex justify-content-center align-items-center flex-column text-center wrap-top-30">
        <h2 class="section-header text-uppercase">Kennedy Essentials</h2>
        <p class="section-desc w-40-70-100 transform-none text-muted line-height-18-26">
            Focused on making the little stuff better, we’re driven to create custom built
            products that reflect our unique point of view, our heritage, our style, and we don’t
            stop until we get it right </p>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4 kenny-container px-0" id="featured-watches"></div>
</div>
<div class="d-flex justify-content-center align-items-center store-locator-banner flex-column text-white link-plain">
    <h2 class="section-header text-uppercase m-0">Store Locator</h2>
    <p class="section-desc w-40-70-100 transform-none line-height-18-26 text-center my-4">
        Only official Kennedy retailers are allowed to sell and maintain a Kennedy. With the necessary
        skills, technical know-how and special equipment, they guarantee the authenticity of each and every part of your
        Kennedy and help you make the choice that will last a lifetime.</p>
    <a href="#" class="btn-input-lg text-white btn-outline-white
                           w-25-70-100 font-weight-bold text-uppercase">Come find us</a>
</div>
<div class="d-flex justify-content-center align-items-center bg-dirty-white flex-column py-5">
    <div class="d-flex justify-content-center align-items-center flex-column text-center wrap-top-30">
        <h2 class="section-header text-uppercase">Discover Kennedy</h2>
        <p class="section-desc w-40-70-100 transform-none text-muted line-height-18-26">
            Here at Kennedy, we believe in maintaining long-standing commitments with exceptional individuals,
            organizations, events and institutions in domains as varied as exploration,
            sports, arts & culture, science, and education. </p>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4 kenny-container px-0" id="discover-kenny"></div>
</div>
<script type="text/javascript" src="/index.js"></script>
<script type="text/javascript" src="/slideShow.js"></script>