<div class="d-flex justify-content-center align-items-center flex-column position-relative link-plain">
    <div class="mens-banner-image">
    </div>
    <div class="kenny-container pos-abs-center-desk">
        <div class="d-flex banner-content flex-column flex-mobile-center">
            <h2 class="section-header text-emphasize-alt text-uppercase text-invert-mobile my-lg-4">Falcon</h2>
            <p class="section-desc w-40-70-100 transform-none line-height-18-26 text-invert-mobile">
                Quisque quam quam, aliquam id hendrerit quis, pharetra sed sapien. Aliquam.
            </p>
            <a href="#" class="btn-input-lg text-white btn-outline-dark-mobile
                           w-25-70-100 font-weight-bold text-uppercase">Shop Now</a>
        </div>
    </div>
</div>
<div class="nav-banner wrap-20 bg-white">
    <div class="d-flex justify-content-center align-items-center nav-banner-inner">
        <h5 class="nav-banner-header m-0 border-right-1 pr-4">
            Explore
            <span class="display-inline-mobile-none">Men's Watches</span>
        </h5>
        <div class="nav-banner-item">All</div>
        <div class="nav-banner-item">Best Sellers</div>
        <div class="nav-banner-item">Customers</div>
        <div class="nav-banner-item">Clothing</div>
        <div class="nav-banner-item">Bags</div>
    </div>
</div>


<div class="d-flex justify-content-center align-items-center py-5 link-plain kenny-container-80
    flex-column overflow-hidden">
    <div class="d-flex justify-content-center align-items-center flex-mobile-column-alt bg-white mb-5">
        <div class="d-flex justify-content-center align-items-center p-5 order-1-mobile text-align-center-mobile">
            <div class="d-flex flex-column w-75-100">
                <h2 class="section-header text-uppercase">Plant your flag</h2>
                <p class="section-desc transform-none font-weight-bold text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam massa,
                    consectetur sed felis non, commodo placerat diam.
                </p>
                <a href="#" class="btn-input-lg btn-black
                           w-40-70-100 font-weight-bold text-uppercase">Shop Now</a>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-grow order-0-mobile">
            <img src="https://images.unsplash.com/photo-1434056886845-dac89ffe9b56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
                 alt="img"
                 class="image-900-fill"/>
        </div>
    </div>
    <div class="d-flex justify-content-around w-100 align-items-center flex-mobile-column wrap-top-30">
        <div class="d-flex justify-content-center align-items-center flex-grow-desk mr-lg-4 flex-column mens-banner-container">
            <img src="https://www.nixon.com/on/demandware.static/-/Library-Sites-Nixon/default/dwed64ff51/back-to-school_50x50.jpg"
                 alt="image" class="h-auto image-wide"/>
            <div class="d-flex justify-content-center align-items-center flex-column mt-5 w-75-100 section-desc-container">
                <h2 class="section-header text-uppercase">In Sesh</h2>
                <p class="section-desc transform-none font-weight-bold text-muted text-center">Sharp fall collections for new
                    genius school sessions.</p>
            </div>
            <a href="#" class="text-dark font-weight-bold">Shop Now</a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-grow-desk ml-lg-4 flex-column mens-banner-container">
            <img src="https://www.nixon.com/on/demandware.static/-/Library-Sites-Nixon/default/dw8c67c48e/indigold_50x50.jpg"
                 alt="image" class="h-auto image-wide"/>
            <div class="d-flex justify-content-center align-items-center flex-column mt-5 w-75-100 section-desc-container">
                <h2 class="section-header text-uppercase">Indigold</h2>
                <p class="section-desc transform-none font-weight-bold text-muted text-center">
                    Everyday wearability gets deep in the Indigold Collection.
                </p>
            </div>
            <a href="#" class="text-dark font-weight-bold">Shop Now</a>
        </div>
    </div>
    <div class="d-flex justify-content-around w-100 align-items-center flex-mobile-column">
        <div class="d-flex justify-content-center align-items-center flex-grow-desk mr-lg-4 flex-column mens-banner-container">
            <img src="https://www.nixon.com/on/demandware.static/-/Library-Sites-Nixon/default/dwb4a931c1/mens-custom-time-teller.jpg"
                 alt="image" class="h-auto image-wide"/>
            <div class="d-flex justify-content-center align-items-center flex-column mt-5 w-75-100 section-desc-container">
                <h2 class="section-header text-uppercase">Make it yours</h2>
                <p class="section-desc transform-none font-weight-bold text-muted text-center">
                    Start with the low-profile Time Teller. Choose your case, band, dial
                    and custom engraving for a watch that’s all you.
                </p>
            </div>
            <a href="#" class="text-dark font-weight-bold">Shop Now</a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-grow-desk ml-lg-4 flex-column mens-banner-container">
            <img src="https://www.nixon.com/on/demandware.static/-/Library-Sites-Nixon/default/dw299b7881/gear-guide_50x50.jpg"
                 alt="image" class="h-auto image-wide"/>
            <div class="d-flex justify-content-center align-items-center flex-column mt-5 w-75-100 section-desc-container">
                <h2 class="section-header text-uppercase">Bag Basics</h2>
                <p class="section-desc transform-none font-weight-bold text-muted text-center">
                    Kennedy has a bag for every adventure, which one’s right for you.
                </p>
            </div>
            <a href="#" class="text-dark font-weight-bold">Shop Now</a>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center mt-4 kenny-container px-0"
     id="mens-discovery">

</div>

<script src="/mens.js" type="text/javascript"></script>