<div class="d-flex justify-content-center align-items-center flex-column position-relative link-plain">
    <div class="banner-image womens-banner-image"></div>
    <div class="kenny-container pos-abs-center-desk">
        <div class="d-flex banner-content flex-column flex-mobile-center">
            <h2 class="section-header text-emphasize-alt text-uppercase text-invert-mobile my-lg-4">Dangerous Liaisons</h2>
            <p class="section-desc w-40-70-100 transform-none line-height-18-26 text-invert-mobile">
                Aliquam tristique purus vel ultricies euismod. Ut aliquam ullamcorper quam nec sagittis.
                Mauris eu massa in quam elementum posuere nec id purus.
            </p>
            <a href="#" class="btn-input-lg text-white btn-outline-dark-mobile
                           w-25-70-100 font-weight-bold text-uppercase">Live Dangerously</a>
        </div>
    </div>
</div>
<div class="nav-banner wrap-20 bg-white">
    <div class="d-flex justify-content-center align-items-center nav-banner-inner">
        <h5 class="nav-banner-header m-0 border-right-1 pr-4">
            Explore
            <span class="display-inline-mobile-none">Women's Watches</span>
        </h5>
        <div class="nav-banner-item">All</div>
        <div class="nav-banner-item">Best Sellers</div>
        <div class="nav-banner-item">Customers</div>
        <div class="nav-banner-item">Clothing</div>
        <div class="nav-banner-item">Bags</div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center py-5 link-plain kenny-container-80
    flex-column overflow-hidden">
    <div class="d-flex justify-content-center align-items-center flex-mobile-column-alt bg-white mb-5">
        <div class="d-flex justify-content-center align-items-center flex-grow-desk">
            <img src="https://images.unsplash.com/photo-1487611739259-6ccdf9a9daf3?ixlib=
                rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                 alt="img"
                 class="image-900-fill"/>
        </div>
        <div class="d-flex justify-content-center align-items-center p-5">
            <div class="d-flex flex-column w-75-100 flex-mobile-center text-align-center-mobile">
                <h2 class="section-header text-uppercase">The Casual Princess</h2>
                <p class="section-desc transform-none font-weight-bold text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec diam massa,
                    consectetur sed felis non, commodo placerat diam.
                </p>
                <a href="#" class="btn-input-lg btn-black
                           w-40-70-100 font-weight-bold text-uppercase">Shop Now</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-around w-100 align-items-center flex-mobile-column-alt wrap-top-30">
        <div class="d-flex justify-content-center align-items-center flex-grow-desk mr-lg-4 flex-column mens-banner-container">
            <img src="https://www.nixon.com/on/demandware.static/-/Library-Sites-Nixon/default/dwdcae4057/clique.jpg"
                 alt="image" class="h-auto image-wide"/>
            <div class="d-flex justify-content-center align-items-center flex-column mt-5 w-75-100 section-desc-container">
                <h2 class="section-header text-uppercase">Glam Centric</h2>
                <p class="section-desc transform-none font-weight-bold text-muted text-center">The Clique's chic sunray
                    dial and custom second hand deliver serious glam on a fun budget.</p>
            </div>
            <a href="#" class="text-dark font-weight-bold">Shop Now</a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-grow-desk ml-lg-4 flex-column mens-banner-container">
            <img src="https://www.nixon.com/on/demandware.static/-/Library-Sites-Nixon/default/dw0e1d0e2e/stellar-bestsellers.jpg"
                 alt="image" class="h-auto image-wide"/>
            <div class="d-flex justify-content-center align-items-center flex-column mt-5 w-75-100 section-desc-container">
                <h2 class="section-header text-uppercase">Stellar best-sellers</h2>
                <p class="section-desc transform-none font-weight-bold text-muted text-center">
                    From beach to street, golden hour to classic black and white, check what’s hottest for
                    women this summer.
                </p>
            </div>
            <a href="#" class="text-dark font-weight-bold">Shop Now</a>
        </div>
    </div>
    <div class="d-flex justify-content-around w-100 align-items-center flex-mobile-column-alt">
        <div class="d-flex justify-content-center align-items-center flex-grow-desk mr-lg-4 flex-column mens-banner-container">
            <img src="https://www.nixon.com/on/demandware.static/-/Library-Sites-Nixon/default/dw0038bde9/womens-custom-time-teller.jpg"
                 alt="image" class="h-auto image-wide"/>
            <div class="d-flex justify-content-center align-items-center flex-column mt-5 w-75-100 section-desc-container">
                <h2 class="section-header text-uppercase">Make it unique</h2>
                <p class="section-desc transform-none font-weight-bold text-muted text-center">
                    Start with the low-profile Time Teller. Choose your case, band, dial
                    and custom engraving for a watch that’s all you.
                </p>
            </div>
            <a href="#" class="text-dark font-weight-bold">Shop Now</a>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-grow-desk ml-lg-4 flex-column
        mens-banner-container text-center">
            <img src="https://www.nixon.com/on/demandware.static/-/Library-Sites-Nixon/default/dw685737f7/abysse-blog.jpg"
                 alt="image" class="h-auto image-wide"/>
            <div class="d-flex justify-content-center align-items-center flex-column mt-5 w-75-100 section-desc-container">
                <h2 class="section-header text-uppercase">Nixon X Abysse X Kennedy</h2>
                <p class="section-desc transform-none font-weight-bold text-muted text-center">
                    Inside the collab celebrating a shared love of fashion, function, and the eternal draw of the ocean.
                </p>
            </div>
            <a href="#" class="text-dark font-weight-bold">Shop Now</a>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center bg-white py-4">
    <div class="d-flex justify-content-center align-items-center mt-4 kenny-container px-0" id="womens-new-arrival"></div>
</div>


<div class="d-flex justify-content-center align-items-center flex-column bg-white">
    <div class="d-flex justify-content-center align-items-center mt-4 kenny-container px-0 py-5"
         id="womens-discovery">
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <p class="text-center section-desc transform-none m-0 p-5">
            Women's watches and accessories from beach to street, high-tech digital to classic analog. Kennedy focused
            on making the little stuff better.
        </p>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center border-top w-100 p-4 flex-mobile-column-alt
        sign-up-container">
        <h4 class="font-weight-bold text-muted">Get The Latest From Kennedy</h4>
        <input type="text" class="form-control sign-up-field" placeholder="e-mail address">
        <input type="button" class="btn-input-lg btn-black
                           btn-sign-up-field font-weight-bold text-uppercase" value="join"/>
    </div>
</div>

<script src="/categoryIndex.js" type="text/javascript"></script>