@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700|Pacifico|Righteous');
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "scss/fontawesome";
@import "scss/brands";
@import "scss/solid";

/* Colors */
$mat-blue: #0d47a1;
$color-second-level-link: #9b9e9f;
$dirty-white: #f7f8f9;
$kenny-black: #1e1e1e;

/* Fonts */
$font-righteous: 'Righteous', cursive;
$font-montserrat: 'Montserrat', sans-serif;
$font-pacifico: 'Pacifico', cursive;
$font-open-sans: 'Open Sans', sans-serif;

$small-screen-start: 320px;
$small-screen-end: 767px;
$medium-screen-start: 768px;
$medium-screen-end: 1024px;
$big-screen: 1365px;

@mixin respond-to($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if ($range == tablet-portrait-up) {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if ($range == tablet-landscape-up) {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if ($range == desktop-up) {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if ($range == big-desktop-up) {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}