@import "globals";

.banner-content {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 30px 15px;
  background-color: $dirty-white;
  text-align: center;
  @include respond-to(tablet-landscape-up) {
    text-align: initial;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
}

.banner-image {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  @include respond-to(desktop-up) {
    background-position: initial;
    padding-bottom: 0;
    height: 640px;
  }
}

.mens-banner-image {
  background-image: url("/images/bg-04s.jpg");

  @include respond-to(desktop-up) {
    background-image: url("/images/bg-04t.jpg");
  }
}

.womens-banner-image {
  background-image: url("/images/bg-05s.jpg");

  @include respond-to(desktop-up) {
    background-image: url("/images/bg-05t.jpg");
  }
}

.nav-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: scroll;

  & .nav-banner-inner {
    transform: translate3d(15%, 0, 0);
    @include respond-to(tablet-portrait-up) {
      transform: none;
    }
  }

  & .nav-banner-header {
    font-weight: 700;
    text-transform: uppercase;
  }

  & .nav-banner-item {
    padding: 0 10px;
  }

  @include respond-to(tablet-portrait-up) {
    overflow: initial;
    width: auto;
  }
}

.section-desc-container {
  min-height: 112px;
}

.mens-banner-container {
  max-width: 600px;
  margin-bottom: 30px;
  @include respond-to(desktop-up) {
    max-width: 100%;
  }
}