@import "globals";

.image-350-100p {
  width: 100%;
  height: auto;
  @include respond-to(desktop-up) {
    width: 350px;
  }
}

.image-200-75p {
  width: 75%;
  height: auto;
  @include respond-to(desktop-up) {
    width: 200px;
  }
}