@import "globals";

.image-350-100p {
  width: 100%;
  height: auto;
  @include respond-to(desktop-up) {
    width: 350px;
  }
}

.image-350-200 {
  width: 100%;
  height: auto;
  @include respond-to(tablet-portrait-up) {
    width: 90%;
  }
}

.image-200-75p {
  width: 75%;
  height: auto;
  @include respond-to(desktop-up) {
    width: 200px;
  }
}

.image-wide {
  width: 100%;
}

.image-h-660-450 {
  height: 450px;
  @include respond-to(desktop-up) {
    height: 660px;
  }
}

.image-900-fill {
  width: 100%;
  height: auto;
  @include respond-to(tablet-portrait-up) {
    width: 100%;
  }
}