#landing-banner {
  background-image: url("/images/bg-03.jpg");
  background-size: cover;
  background-position: center;
}

//.landing-half {
//  position: relative;
//  z-index: 1;
//}
//.landing-half-content {
//  position: relative;
//  z-index: 2;
//  color: white;
//}
//#landing-half-B {
//  //https://images.unsplash.com/photo-1506193095-80bc749473f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80
//  background-image: url("https://images.unsplash.com/photo-1523268755815-fe7c372a0349?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: center;
//  filter: brightness(20%) saturate(0%) contrast(100%);
//  left: 0;
//  width: 50%;
//  position: absolute;
//}