@import "globals";

.store-locator-banner {
  background-image: url("/images/bg-02d.jpg");
  height: auto;
  background-position: center;
  background-size: cover;
  padding: 50% 5%;
  @include respond-to(tablet-landscape-up) {
    padding: 30% 5%;
  }
  @include respond-to(desktop-up) {
    padding: 10%;
  }
}

.landing-show {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("/images/slide-01.jpg");
  background-position: center;
  background-size: cover;

  & > .landing-show-image {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    background-size: cover;
    background-position: center;
  }
}

.landing-show-image-shown {
  opacity: 1 !important;
}

.slide-show-container {
  position: absolute;
}

.landing-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  position: absolute;
}

#slide-show-container {
  width: inherit;
  height: inherit;
}

//.landing-half {
//  position: relative;
//  z-index: 1;
//}
//.landing-half-content {
//  position: relative;
//  z-index: 2;
//  color: white;
//}
//#landing-half-B {
//  //https://images.unsplash.com/photo-1506193095-80bc749473f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80
//  background-image: url("https://images.unsplash.com/photo-1523268755815-fe7c372a0349?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: center;
//  filter: brightness(20%) saturate(0%) contrast(100%);
//  left: 0;
//  width: 50%;
//  position: absolute;
//}