@import "globals";

.link-plain {
  text-decoration: none !important;

  & a {
    color: white;
    text-decoration: none !important;

    &:hover {
      color: white;
      text-decoration: none !important;
    }
  }
}


.font-righteous {
  font-family: $font-righteous !important;
}

.font-pacifico {
  font-family: $font-pacifico !important;
}

.font-montserrat {
  font-family: $font-montserrat;
}

.font-small {
  font-size: 11px !important;
}

.line-height-2 {
  line-height: 2.5rem;
}

/* Alignments */
.text-align-center-lg {
  text-align: left;
  @include respond-to(tablet-portrait-up) {
    text-align: center;
  }
}

/* Sizing */
.text-emphasize {
  font-size: 4rem;
  @include respond-to(desktop-up) {
    font-size: 6.5rem;
  }
}

.text-emphasize-medium {
  font-size: 3rem;
}

.section-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
}

.section-desc {
  text-transform: uppercase;
  margin: 8px 0 30px;
}

.line-height-18-26 {
  line-height: 26px;
  @include respond-to(desktop-up) {
    line-height: 18px;
  }
}
/* Coloring */
.text-kenny-black {
  color: $kenny-black;
}